body {
	background-color: #B64926;
	max-width:960px;
	font-family:Arial;
}

footer {
	text-align: center;
}

.main {
	display: inline-block;
	width: 78%;
	vertical-align: top;

}


.topnav {
	list-style-type:none;
	width: 200px;
	display: block;
	text-decoration: none;
	background-color: #468966;
	text-align:center;
	margin: 0;
    padding: 0;
}

li{
	display: block;
	text-decoration: none;
	border: 1px;
	padding:5px 5px 5px 5px;
}

li:hover {
    background-color: #FFF0A5;
    color: #468966;
    width:200px;
}